.LeftLinks {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 40px;
}

.LeftLinks:after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--light-slate);
}

.LeftLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LeftLinks ul a {
  display: block;
  padding: 10px;
  transition: all 0.3s;
  color: var(--light-slate);
}

.LeftLinks ul a:hover {
  color: var(--green);
  transform: translateY(-4px);
}

.LeftLinks svg {
  width: 20px;
  height: 20px;
}
