.tab {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.tab > nav {
  position: relative;
}

.tab > nav > ul,
.tab > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab > nav button {
  border: none;
  background-color: transparent;
  color: var(--light-slate);
  display: block;
  width: 100%;
  height: 42px;
  text-align: left;
  padding: 0 20px;
  border-left: 2px solid #233554;
  transition: var(--transition);
  cursor: pointer;
}

.tab nav button:hover {
  color: var(--green);
  background-color: #112240;
}

.tab nav button.active {
  color: var(--green);
  border-left: 2px solid var(--green);
}

.bar {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--green);
  transition: var(--transition);
  transition-property: left, top;
}

@media (max-width: 768px) {
  .tab {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  .tab > nav > ul {
    width: 100%;
    overflow-x: auto;
    display: flex;
  }
  .tab nav button {
    border-left: none;
    border-bottom: 2px solid #233554;
  }

  .tab nav button.active {
    border-left: none;
    border-bottom: 2px solid var(--green);
  }
  .bar {
    bottom: 0;
  }
}
