@media (max-width: 768px) {
  .LeftLinks {
    display: none;
  }
}

.LeftLinks {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 40px;
}

.LeftLinks:after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 30px auto 0;
  background-color: var(--light-slate);
}

.LeftLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
