.LinkButton {
  color: var(--green);
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
  padding: 20px 28px;
  border: solid 1px var(--green);
  border-radius: 5px;
  transition: all 0.3s;
}

.LinkButton:hover {
  background-color: #133040;
}
