.fadeupEnter > * {
  --delay: 100ms;
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fadeupEnterActive > * {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fadedownEnter > * {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedownEnterActive > * {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeEnter {
  opacity: 0;
}
.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
