.LinkIcon {
  display: block;
  padding: 10px;
  transition: all 0.3s;
  color: var(--light-slate);
}

.LinkIcon:hover {
  color: var(--green);
  transform: translateY(-4px);
}

.LinkIcon svg {
  width: 20px;
  height: 20px;
}
