.ExperienceView {
  max-width: 700px;
  margin: auto;
  padding: 100px 0;
}

.tab {
  display: grid;
  grid-template-columns: auto 1fr;
}

.tab nav ul {
  list-style: none;
  padding: 0;
}

.tab nav button {
  border: none;
  background-color: transparent;
  color: var(--light-slate);
  display: block;
  width: 100%;
  height: 42px;
  text-align: left;
  padding: 0 20px;
  border-left: 2px solid #233554;
  transition: var(--transition);
  cursor: pointer;
}

.tab nav button:hover {
  color: var(--green);
  background-color: #112240;
}

.tab nav button.active {
  color: var(--green);
  border-left: 2px solid var(--green);
}

.content section h3 {
  font-size: 22px;
  color: var(--lightest-slate);
  margin-bottom: 2px;
}

.content section h3 a {
  color: var(--green);
  text-decoration: none;
}

.content p {
  margin-top: 0;
}

.content ul {
  list-style: none;
  padding-left: 0;
}

.content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.content ul li:before {
  content: '▹';
  color: var(--green);
  position: absolute;
  left: 0;
  width: 20px;
}
