.WorkView {
  max-width: 1000px;
  margin: auto;
  padding: 100px 0;
}

/* region PrimaryWork */

.PrimaryWork {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px;
}

.PrimaryWork > .projectImage {
  grid-column: 1 / 7;
  grid-row: 1;
}
.PrimaryWork:nth-of-type(2n) > .projectImage {
  grid-column: 6 / 12;
}
.PrimaryWork > .projectContent {
  grid-column: 6 / 12;
  grid-row: 1;
  text-align: right;
}
.PrimaryWork:nth-of-type(2n) > .projectContent {
  grid-column: 1 / 7;
  text-align: left;
}
.PrimaryWork:nth-of-type(2n) .content > footer > ul {
  justify-content: start;
}
.PrimaryWork:nth-of-type(2n) .content > footer > ul:last-child {
  margin-left: -10px;
}

@media (max-width: 768px) {
  .PrimaryWork {
    display: grid;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    border-radius: 4px;
  }
  .projectImage > a {
    display: block;
    height: 100%;
  }

  .PrimaryWork > .projectImage,
  .PrimaryWork:nth-of-type(2n) > .projectImage,
  .PrimaryWork > .projectContent,
  .PrimaryWork:nth-of-type(2n) > .projectContent {
    grid-column: 1 / -1;
    text-align: left;
  }
}

.cover {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.PrimaryWork > div:first-child > a {
  display: block;
  position: relative;
}
.PrimaryWork > div:first-child > a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  background-color: var(--green);
  opacity: 0.2;
  transition: var(--transition);
}
.PrimaryWork > div:first-child > a:hover:after {
  opacity: 0;
}

.content {
  position: relative;
}

.content > p {
  padding: 25px;
  border-radius: 4px;
  background-color: #112240;
  line-height: 1.5em;
}

.content > p a {
  text-decoration: none;
  color: var(--green);
}

.content > header {
  color: var(--green);
}

.content > h3 > a {
  color: var(--lightest-slate);
  font-size: 28px;
  text-decoration: none;
  transition: var(--transition);
}
.content > h3 > a:hover {
  color: var(--green);
}

.content > footer > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  column-gap: 20px;
  justify-content: end;
  flex-wrap: nowrap;
}

.content > footer > ul:last-child {
  column-gap: 0;
  margin-right: -10px;
}

@media (max-width: 768px) {
  .projectContent {
    display: flex;
  }

  .content {
    padding: 40px;
    background-color: #0c2034cc;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }

  .content > p {
    padding: 0;
    border-radius: 4px;
    background-color: transparent;
    line-height: 1.5em;
  }

  .content > footer > ul {
    justify-content: start;
  }
}

/* endregion */

/* region otherWorks */

.otherWorks > header {
  text-align: center;
}

.otherWorks > header > h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--lightest-slate);
}
.otherWorks > header > a {
  color: var(--green);
  text-decoration: none;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  gap: 15px;
}
@media (max-width: 980px) {
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 614px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
.OtherWork {
  border-radius: 4px;
  padding: 32px 28px;
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  background-color: #112240;
  transition: var(--transition);
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
}
.OtherWork:hover {
  transform: translateY(-8px);
}
.OtherWork ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.OtherWork > header ul {
  column-gap: 0;
  z-index: 2;
}
.OtherWork > footer > ul {
  margin-bottom: 0;
}

.OtherWork > header > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 35px;
}

.OtherWork .subject {
  font-size: 22px;
}

.OtherWork .subject a {
  color: var(--lightest-slate);
  text-decoration: none;
  transition: var(--transition);
}
.OtherWork .subject a:hover {
  color: var(--green);
}
.OtherWork .subject a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.folder {
  color: var(--green);
}
.folder svg {
  width: 40px;
  height: 40px;
}

/* endregion */
