html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a192f;
  color: var(--light-slate);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

:root {
  --green: rgb(100, 255, 218);
  --light-slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --background: #0a192f;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* 滚动槽 */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: var(--background);
}
/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  background: #495670;
  border: 3px solid var(--background);
  border-radius: 10px;
  /*-webkit-box-shadow: inset 0 0 10px #495670;*/
}
