.ExperienceView {
  max-width: 700px;
  margin: auto;
  padding: 100px 0;
}

.content h3 {
  font-size: 22px;
  color: var(--lightest-slate);
  margin-bottom: 2px;
  margin-top: 0;
}

.content h3 a {
  color: var(--green);
  text-decoration: none;
}

.content p {
  margin-top: 0;
}

.content ul {
  list-style: none;
  padding-left: 0;
}

.content ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.content ul li:before {
  content: '▹';
  color: var(--green);
  position: absolute;
  left: 0;
  width: 20px;
}
