.banner {
  background: url('https://blog.rxliuli.com/medias/banner/default.jpg') center
    center / cover no-repeat;
}
.mask {
  background-color: rgba(0, 0, 0, 0.3);
  height: 240px;
  display: grid;
  align-items: center;
}
.content {
  width: 100%;
  color: #ffffff;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 576px) {
  .content {
    padding: 0 8px;
  }
}
