.content {
  margin: 48px auto;
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px;
}

.content > * {
  max-width: 350px;
}

@media (min-width: 0) and (max-width: 576px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .content > * {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
